/*Mise en page logo*/
#logo
{
    width: 4%;
    position: absolute;

}
/* Position du menu*/
header a
{
    text-decoration: none;
    color: #0065fc;
}

/*Bouton menu*/
.menu
{
    text-align: right;
    font-size: 13px;
}
#activite a
{
    color: black;
}
.inscription
{
    color: #0065FC;
    font-weight: bold;
}
h2
{
    text-justify: auto;
    font-size: 15px;
}
.vacances
{
    font-size: 13px;
}

/* Mise en page barre de recherche*/
.fa-map-marker-alt
{
    font-weight: bolder;
    background-color: #f2f2f2;
    border: 5.5px solid #f2f2f2;
    border-radius: 5px 0px 0px 5px;
    float: left;
    font-size: 8.5px;
}
.recherche a
{
    text-decoration: none;
    font-weight: bold;
    background-color: #0065fc;
    color: white;
    border: 2px solid #0065fc;
    border-radius: 0px 5px 5px 0px;
    font-size: 14px;
}
.marseille
{
    border-radius: 0px 0px 0px 0px;
    border: solid 1px #F2F2F2;
    font-weight: bold;
}
/*Fin du bloc recherche*/

/* Mise ne page des Filtres*/
.fa-money-bill-wave
{
    background: #DEEBFF;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    text-align: center;
    font-size: 8.5px;
    color: #0065FC;
    line-height: 9px;
    vertical-align: middle;
    padding: 9px
}
.fa-child
{
    background: #DEEBFF;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    text-align: center;
    font-size: 8.5px;
    color: #0065FC;
    line-height: 9px;
    vertical-align: middle;
    padding: 9px
}
.fa-heart
{
    background: #DEEBFF;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    text-align: center;
    font-size: 8.5px;
    color: #0065FC;
    line-height: 9px;
    vertical-align: middle;
    padding: 9px
}
.fa-dog
{
    background: #DEEBFF;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    text-align: center;
    font-size: 8.5px;
    color: #0065FC;
    line-height: 9px;
    vertical-align: middle;
    padding: 9px
}
.economie
{
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    font-weight: bold;
    border-left: none;
    font-size: 12px;
}
.famille
{
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    font-weight: bold;
    border-left: none;
    font-size: 12px;
}
.romantique
{
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    font-weight: bold;
    border-left: none;
    font-size: 12px;
}
.animaux
{
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    font-weight: bold;
    border-left: none;
    font-size: 12px;
}
.fa-info
{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: solid 2px #f2f2f2;
    font-size: 8.5px;
    color: #0065fc;
    text-align: center;
    line-height: 7px;
    vertical-align: middle;
    padding: 7px;
}
/*Fin mise en page Filtres*/

/*Bloc populaires'*/
.populaires
{
    list-style-type: none;
    border: solid 1px #f2f2f2;
    float: right;
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.photo
{
    width: 100px;
    height: 106px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    vertical-align: middle; 
    border: solid 1px red;
}
.texte
{
    display: inline-block;
    position: absolute;
    border: solid 1px white;
    width: 134px;
    border-radius: 0px 20px 20px 0px;

}
.popubloc
{
    border: solid 5px white;
    height: 106px;
    border-radius: 20px;
    background-color: white;
    width: 240px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    word-break: break-all;
    margin: 10px;
}
/*Fin bloc populaires*/

/*Bloc hébergements*/
.Hebergements
{
    list-style-type: none;
    width: 700px;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.Hebergements a
{
    text-decoration: none;
    color: black;
}
.hebertexte
{
    border: white 4px solid;
    width: 220px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}
.photoheberge
{
    width: 220px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
/*Fin bloc hébergements*/

/*Bloc activité*/
.activites a
{
    text-decoration: none;
    color: black;
}

/*Bloc Footer*/
ul
{
    list-style-type: none; 
}
footer
{
    display: flex;
    background-color: #f2f2f2;
}
.propos
{
    flex: 1 1 auto;
}
.charte
{
    flex: 1 1 auto;
}
.assistance
{
   flex: 1 1 auto;
}