/* Position header*/
#logo /*Mise en page logo*/
{
    padding-top: 1%;
    margin-left: 3%;
}
header
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: #0065FC;
}
header a
{
    text-decoration: none;
}
.navigation 
{
    display: flex;
    margin-top: -2.90%;
}
.inscription a
{
    color: #0065FC;
}
.inscription
{
    font-weight: bold;
    margin-left: 10%;
    padding-top: 15%;
    margin-top: 3.50%;
}
#activite a
{
    color: black;
}
#barre a
{
    color: #0065FC;
}
#barre, #activite
{
    padding-right: 10%;
    padding-left: 10%;
    border-top: 2px solid #F2F2F2;
    padding-top: 15%;
    margin-top: 3.50%;
}
#barre:hover, #activite:hover /*survole d'hébergement et activité*/
{
    border-top: 2px solid #0065FC;
    margin-top: 3.50%;
}
/*Fin du header*/

/*Mise en page section zone de recherche*/
h2
{
    text-justify: auto;
    font-size: 17px;
    margin-top: 3%;
    margin-left: 2%;
}
.vacances
{
    font-size: 17px;
    margin-left: 2%;
    margin-bottom: 2%;
}
.fa-map-marker-alt
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    float: left;
    font-size: 16px;
    padding: 1%;
    margin-left: 2%;
}
.recherche a
{
    text-decoration: none;
    font-weight: bold;
    background-color: #0065fc;
    color: white;
    border: 1px solid #0065fc;
    border-radius: 0px 10px 10px 0px;
    font-size: 15px;
    padding: 0.90%;
}
.marseille
{
    border-radius: 0px 0px 0px 0px;
    border: solid 1px #F2F2F2;
    font-size: 13px;
    font-weight: bold;
    padding: 1%;
    margin-bottom: 2%;
}
.iconsearch
{
    display: none;
}
/*Fin du bloc de zone de recherche*/

/*Corps de la page*/
body
{
    max-width: 100%;
    margin: 0; 
    font-family: 'Raleway', sans-serif;
}
/*Fin corps de la page*/

/* Mise en page des Filtres*/
.filtres
{
    margin-left: 2%;
    font-size: 15px;
    margin-bottom: 4%;
}
.boutons
{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    background: #DEEBFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 14.5px;
    color: #0065FC;
    vertical-align: middle;
    padding: 15px;
}
.economie, .famille, .romantique, .animaux
{
    border-radius: 50px;
    border: 3px solid #F2F2F2;
    display: inline-block;
    font-weight: bold;
    border-left: transparent;
    font-size: 14px;
    margin: 1%;
    padding-right: 2%;
}
.economie:hover, .famille:hover, .romantique:hover, .animaux:hover
{
    color: #0065FC;
    font-size: large;
    border: 4px solid #F2F2F2;
}
.fa-info
{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: solid 2px #f2f2f2;
    font-size: 11px;
    color: #0065fc;
    text-align: center;
    vertical-align: middle;
    padding: 1%;
}
.logement
{
    font-size: 13px;
}
/*Fin mise en page Filtres*/

/*Bloc populaires'*/
.populaires
{
    list-style-type: none;
    float: right;
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 25%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 1%;
    margin-bottom: 2%;
}
.populaires a
{
    color: black;
}
.photo
{
    width: 40%;
    height: 106px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    vertical-align: middle;
}
.textpopu
{
    display: inline-block;
    position: absolute;
    width: 11%;
    height: 106px;
    border-radius: 0px 20px 20px 0px;
    margin-left: 0.50%;
}
.popubloc
{
    border: solid 2px white;
    height: 106px;
    border-radius: 20px;
    background-color: white;
    width: 80%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1), -.2em 0 .2em rgba(0,0,0,0.1);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.nuit
{
    margin-top: 6%;
}
.etoile
{
    position: absolute;
    bottom: 0px;
}
.titrepopu
{
    width: 90%;
    font-size: 17px;
}
.fa-chart-line
{
    float: right;
}
/*Fin bloc populaires*/

/*Bloc hébergements*/
.hebergements
{
    list-style-type: none;
    height: 600px;
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 2%;
    margin-top: 2%;

}
.hebergements a
{
    text-decoration: none;
    color: black;
}
#ancre
{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 17px;
}
.bold
{
    font-weight: bold;
}
.textheb
{
    margin-left: 5%;
}
.hotel
{
    display: flex;
    flex-wrap: wrap;
}
.heberbloc
{
    border: solid 4px white;
    width: 25.5%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1), -.2em 0 .2em rgba(0,0,0,0.1);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.photoheberge
{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.color
{
    color: #0065FC;
}
.color-2
{
    color: #F2F2F2;
}
.afficher
{
    font-weight: bold;
    margin-left: 5%;
}
.bloc
{
    margin-bottom: 5%;
}
/*Fin bloc hébergements*/

/*Bloc activité*/
.textactive
{
    margin-left: 5%;
}
#marseille
{
    margin-left: 2%;
    font-size: 17px;
}
.activites a
{
    text-decoration: none;
    color: black;
}
.activites
{
    margin-bottom: 3%;
}
.groupeactive
{
    display: flex;
    justify-content: space-between;
}
.photo-2
{
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px ;
}
.photo-3
{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.photo-4
{
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.photo-5
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.contour
{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1), -.1em 0 .2em rgba(0,0,0,0.1);
    padding-bottom: 4%;
}
.box-2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4%;
    font-weight: bold;
    width: 20%;
}
.contour-2
{
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 3px  rgba(0,0,0,0.1), -.1em 0 .2em rgba(0,0,0,0.1);
}
.contour-3
{
    border-radius: 20px;
    box-shadow: 3px 3px 3px  rgba(0,0,0,0.1), -.1em 0 .2em rgba(0,0,0,0.1);
    width: 100%;
}
.contour-4
{
    border-radius: 20px;
    box-shadow: 3px 3px 3px  rgba(0,0,0,0.1), -.1em 0 .2em rgba(0,0,0,0.1);
    margin-bottom: 70px;
    font-weight: bold;
    width: 20%;
    margin-left: 2%;
}
.box-3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    width: 20%;
    margin-bottom: 4%;
    margin-right: 20px;
}
/*Fin du bloc activité*/

/*Bloc Footer*/
ul
{
    list-style-type: none;
}
footer
{
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
}
.propos, .charte, .assistance
{
    flex: 1 1 auto;
}
.propos a, .charte a, .assistance a
{
    text-decoration: none;
    color: black;
}
/*Fin bloc footer*/